@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: noto;
  src: url("./assets/font/NotoSerifLao-VariableFont_wdth,wght.ttf");
}

html,
body {
  font-family: "noto";
}
